<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>แชทไม่ระบุตัวตน</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');
     
body {
  font-family: 'Kanit', sans-serif;
  background-image: url("/รูป/แดง.png");
}
h6 {
  color: rgb(23, 255, 2);
  text-align: center;
}
h1 {
  text-align: center;
  color: white;
}
h4 {
  text-align: center;
  color: white;
}
p {
  text-align: center;
  color: white;
  font-size: 20px;
}
.btn-warning {
    color: #ffffff;
    background-color: #ffbb00;
    border-color: #b3b3b3;
}
.btn-success {
    color: #000000;
    background-color: #28a772;
    border-color: #b3b3b3;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
h5 {
  text-align: center;
  color: white;
}

     </style>
 
     <div class="title">
      <br>
      <h1>เว็บนี้จะไม่เก็บข้อมูล</h1>
      <h4>หลังจากรีเฟรชหน้าแชทจะหาย</h4>
      <h6>โน็ต: ควรใช้วาจาสุภาพและให้เกียรติพื้นที่ส่วนรวม
        <br>
        <h5>จำนวนผู้ใช้: <span id="user-count"></span> คน</h5>


      </h6>
    </div>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">new connection</div>
        <div class="card-body">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="ใส่ชื่อที่จะตั้ง"
            />
            <div class="input-group-append">
              <button class="btn btn-warning" type="button" id="usernameBtn">
                ตั้งชื่อ
              </button>
            </div>
          </div>
        </div>

        <div class="message-box">
          <ul class="list-group list-group-flush" id="message-list"></ul>
          <div class="info"></div>
        </div>

        <div class="card-footer">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="message"
              placeholder="พิมพ์ข้อความที่จะส่ง"
            />
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="messageBtn">
                ส่งข้อความ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <p>มีเหี้ยไรติดต่อ</p>
    <div style="text-align: center;color: white;font-size: 20px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="display: inline-block; text-align: center;">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
      </svg> 
      fluke@nkn202.xyz 
    </div>
    
    <div style="text-align: center;color: white;font-size: 20px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="display: inline-block; text-align: center;">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg> 
      Nopakon Radcharee
    </div>
    <div class="container">
      <a href="#" class="button">กลับไปหน้าหลัก</a>
    </div>
    
    <script>
      // send request for user count every 5 seconds
      setInterval(() => {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("user-count").innerHTML = xhr.responseText;
          }
        };
        xhr.open("GET", "/user-count", true);
        xhr.send();
      }, 5000);
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script src="/js/chatroom.js"></script>
  </body>
</html>
